@media screen and (max-width: 350px) {
  .container nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container nav a {
    margin-bottom: 8px;
  }

  .filme-principal .container .titulo {
    font-size: 24px;
  }

  .filme-principal .container .descricao {
    width: 200px;
  }

  .botoes .btn {
    padding: 16px;
  }
}

@media screen and (max-width: 450px) {
  .filme-principal {
    background-size: contain no-repeat;
    background-position: 70% 80%;
  }

  .filme-principal .titulo {
    font-size: 32px;
  }

  .filme-principal .descricao {
    width: 320px;
    max-width: 250ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .botoes .btn {
    margin: 8px 0;
  }

  .titulo-filmes {
    font-size: 24px
  }
}

@media screen and (max-width: 550px) {
  .filme-principal .titulo {
    font-size: 32px;
  }

  .filme-principal .container .descricao {
    max-width: 400px;
  }

  .filme-principal .botoes {
    display: flex;
    flex-direction: column;
  }

  .filme-principal .botoes .btn {
    margin-bottom: 8px;
  }

  .titulo-filmes {
    text-align: center;
  }
}

@media screen and (max-width: 724px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .container img {
    margin-bottom: 24px;
  }
}